*{
    margin: 0%;
    padding: 0%;
}
.heading{
    padding: 40px 0;
    background: rgb(235, 235, 235);
    color: #050000;
    text-align: center;
}
.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
.border{
    width: 160px;
    height: 5px;
    background:rgb(231, 209, 5);
    margin: 26px auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.testimonial{
    background: #fff;
    padding: 30px;
}
.testimonial:hover{
   background-color: rgb(121, 116, 116);
   color: rgb(252, 252, 253);
}
.testimonial img{
    width: 20%;
    height: 50px;
    border-radius: 50%;
}
.name{
    
    font-size: 25px;
    text-transform: capitalize;
    margin: 20px 0;
}
.stars{
    
    color: rgb(248, 183, 2);
    margin-bottom: 20px;
}
